# Build output
build/

# benchmark data
benchmarks/plot_data.tex
benchmarks.log
benchmarks/*.csv

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled binaries
*.o
*.a
*.so

# CUDA
*.ptx
*.cubin

# Editor clutter
.vscode/
*.swp
*~
